<section class="section home-universities">
    <div class="container">
        {{ siteMacros.titleSection({
            'tag': '3',
            'size': 'md',
            'class': 'home-universities__title',
            'title': post.get_field('universities_title')
        }) }}
        <div class="row home-universities__row">
            {% for university in post.get_field('reasons_копировать') %}
                {%
                    set class = university.type == 'Large' ? 'col-12 home-universities-item_large' :
                    'col-12 col-sm-4 home-universities-item_small'
                %}
                <div class="home-universities-item {{ class }}">
                    <div class="home-universities-item__inner">
                        <div class="home-universities-item__header">
                            <img
                                src="{{ university.image }}"
                                alt="{{ university.title|striptags }}"
                                class="home-universities-item__image">
                        </div>
                        <div class="home-universities-item__title">{{ university.title }}</div>
                        <div class="home-universities-item__footer">
                            <a
                                href="{{ university.link }}"
                                class="btn btn_border-brand-2 home-universities-item__link">Посетить сайт</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>