<section class="section home-who">
    <div class="container">
        {{ siteMacros.titleSection({
            'tag': '3',
            'size': 'md',
            'class': 'home-who__title',
            'title': post.get_field('who_title')
        }) }}
        <div class="row home-who__row">
            <div class="col-6 col-md-4"><div class="home-who__list home-who__list_1">{{ post.get_field('who_list_1') }}</div></div>
            <div class="col-6 col-md-4"><div class="home-who__list home-who__list_2">{{ post.get_field('who_list_2') }}</div></div>
        </div>
        <div class="home-who__content">
            <img
                src="{{ post.get_field('who_image') }}"
                alt="{{ post.get_field('who_title')|striptags }}"
                class="home-who__content-image">
            <div class="home-who__banner">
                {{ siteMacros.titleSection({
                    'tag': '4',
                    'size': 'sm',
                    'class': 'home-who__subtitle',
                    'title': post.get_field('who_subtitle')
                }) }}
            </div>
        </div>
    </div>
</section>