<section class="section education-features">
    <div class="container education-features__container">
        <img
            src="{{ post.get_field('features_bg') }}"
            alt="{{ post.get_field('features_title')|striptags }}"
            class="education-features__container__bg">
        <div class="education-features__content">
            {{ siteMacros.titleSection({
                'tag': '3',
                'size': 'lg',
                'class': 'education-features__title',
                'title': post.get_field('features_title')
            }) }}
            <div class="row education-features__row">
                {% for step in post.get_field('features_icons') %}
                    {{ siteMacros.icon({
                        'class': 'education-features-icon icon_center col-12 col-sm-4',
                        'image': step.image,
                        'content': step.content
                    }) }}
                {% endfor %}
            </div>
            {{ siteMacros.titleSection({
                'tag': '4',
                'size': 'sm',
                'class': 'education-features__subtitle',
                'title': post.get_field('features_subtitle')
            }) }}
        </div>
    </div>
</section>