<section class="section home-about">
    <div class="container">
        <img
            src="{{ post.get_field('about_euro') }}"
            alt="{{ post.get_field('about_title')|striptags }}"
            class="home-about__stars">
        <div class="row home-about__row">
            <div class="col-12 col-sm-7 home-about__image-wrapper">
                <div class="border-rectangle border-rectangle_top">
                    <div class="home-about__figure">
                        <img
                            src="{{ post.get_field('about_photo') }}"
                            alt="{{ post.get_field('about_title')|striptags }}">
                    </div>
                    <img
                        class="home-about__rocket"
                        src="{{ post.get_field('about_rocket') }}"
                        alt="{{ post.get_field('about_subtitle')|striptags }}">
                </div>
            </div>
            <div class="col-12 col-sm-5 home-about__content">
                {{ siteMacros.titleSection({
                    tag: '3',
                    size: 'lg',
                    title: post.get_field('about_title'),
                    class: 'home-about__title'
                }) }}
                <div class="home-about__subtitle">
                    {{ post.get_field('about_subtitle') }}
                </div>
                {% include "shared/options/social.twig" with {
                    list: options.socials,
                    size: 'large',
                    color: 'red'
                } %}
            </div>
        </div>
        <div class="row home-about__icons">
            {% for item in post.get_field('about_list') %}
                <div class="home-about__icon col-12 col-sm-4">
                    <div class="box-shadow {{ loop.index == '2' ? 'box-shadow_static' : '' }}">
                        {{ siteMacros.icon({
                            class: 'icon_large icon_center',
                            title: item.title,
                            image: item.icon,
                            content: item.content
                        }) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>