<section class="section home-advantages">
    <div class="container">
        <div class="home-advantages__header">
            {{ siteMacros.titleSection({
                'tag': '3',
                'size': 'lg',
                'class': 'home-advantages__title',
                'title': post.get_field('advantages_title')
            }) }}
        </div>
        <div class="row">
            {% for advantage in post.get_field('advantages_list') %}
                <div class="col-12 col-sm-4 home-advantages-item">
                    <div class="home-advantages-item__inner">
                        <div class="home-advantages-item__header">
                            <img
                                class="home-advantages-item__image"
                                src="{{ advantage.image }}"
                                alt="{{ advantage.title|striptags }}">
                        </div>
                        <div class="home-advantages-item__body">
                            <p class="home-advantages-item__title">{{ advantage.title|striptags('<br><strong>') }}</p>
                            <div class="home-advantages-item__content">{{ advantage.content }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>