<section class="section home-reviews">
    <div class="container">
        <div class="home-reviews__header">
            {{ siteMacros.titleSection({
                'tag': '3',
                'size': 'lg',
                'class': 'home-reviews__title',
                'title': post.get_field('reviews_title')
            }) }}
            {{ siteMacros.titleSection({
                'tag': '4',
                'size': 'md',
                'class': 'home-reviews__subtitle',
                'title': post.get_field('reviews_subtitle')
            }) }}
        </div>
        <div class="row home-reviews__body">
            {% for review in reviews %}
                {% include "shared/review.twig" with {
                    class: 'col-12 col-sm-6',
                    url: review.get_field('video'),
                    title: review.title
                } %}
            {% endfor %}
        </div>
        <div class="home-reviews__footer">
            {% set reviewButton = post.get_field('reviews_button') %}
            <a
                href="{{ reviewButton.link.url }}"
                target="{{ reviewButton.link.target }}"
                class="btn btn_lg btn_brand-2">{{ reviewButton.text }}</a>
        </div>
    </div>
</section>