<section class="section czech-types">
    <div class="container">
        {{
            siteMacros.titleSection({
                'tag': '3',
                'size': 'md',
                'class': 'center-mode czech-types__title',
                'title': post.get_field('types_title')
            })
        }}
        <div class="row czech-types__row">
            {% for item in post.get_field('types_schools') %}
                <div class="col-12 col-sm-6 col-md-3 czech-types-item">
                    <div class="czech-types-item__header">
                        <p class="czech-types-item__title">{{ item.title|striptags('<br><strong>') }}</p>
                        <p class="czech-types-item__subtitle">{{ item.subtitle|striptags('<br><strong>') }}</p>
                    </div>
                    <div class="czech-types-item__body content">{{ item.content }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="czech-types__footer">{{ post.get_field('types_programms') }}</div>
    </div>
</section>