{% macro consultation(options) %}
    {% import '_macros.twig' as siteMacros %}
    <section class="section module-consultation {{ options.class }}">
        <div class="container">
            <div class="row module-consultation__row">
                <div class="col-12 col-md-8 module-consultation__content">
                    <div class="module-consultation__image-wrapper">
                        <img
                            src="{{ options.theme.link }}/static/assets/build/img/man-woman.png"
                            alt="{{ options.title|striptags }}"
                            class="module-consultation__image">
                    </div>
                    <div class="module-consultation__body">
                        {{ siteMacros.titleSection({
                            'tag': '3',
                            'size': 'md',
                            'class': 'module-consultation__title',
                            'title': options.title
                        }) }}
                        {{ siteMacros.titleSection({
                            'tag': '4',
                            'size': 'sm',
                            'class': 'module-consultation__subtitle',
                            'title': options.subtitle
                        }) }}
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="module-consultation__form">
                        {{ function('do_shortcode', options.form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}