<section class="section services-expertise">
    <div class="container">
        <div class="row services-expertise__row">
            <div class="col-12 col-sm-6 col-md-5 services-expertise__image-wrapper">
                <img
                    src="{{post.get_field('expertise_image')}}"
                    alt="{{options.content|striptags}}"
                    class="services-expertise__image">
            </div>
            <div class="col-12 col-sm-6 col-md-5">
                <blockquote class="blockquote">
                    {{ siteMacros.titleSection({
                        'tag': '3',
                        'size': 'md',
                        'class': 'services-expertise__title',
                        'title': post.get_field('expertise_title')
                    }) }}
                    <div class="content services-expertise__content">{{ post.get_field('expertise_content') }}</div>
                    {{ siteMacros.titleSection({
                        'tag': '3',
                        'size': 'sm',
                        'class': 'services-expertise__subtitle',
                        'title': post.get_field('expertise_subtitle')
                    }) }}
                </blockquote>
            </div>
        </div>
    </div>
</section>