{% macro titleSection(options) %}
	<h{{ options.tag }}
		class="section__title section__title_{{ options.size }}
		{{options.class}}">{{options.title|raw}}</h{{ options.tag }}>
{% endmacro %}

{% macro buttonModal(text, class) %}
	<button class="btn btn_lg {{ class }}" data-action="modal" data-open="#modal-form">{{text}}</button>
{% endmacro %}

{% macro icon(options) %}
	<div class="icon {{options.class}}">
		<div class="icon__header">
			<img src="{{options.image}}" alt="{{options.content|striptags}}" class="icon__image">
		</div>
		<div class="icon__body">
			{% if options.title %}
				<div class="icon__title">{{options.title}}</div>
			{% endif %}
			{% if options.content %}
				<div class="icon__content">{{options.content}}</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro themeImage(options) %}
	<img
		src="{{ options.theme.link }}/static/assets/build/img/{{ options.url }}"
		alt="{{ options.alt|striptags }}"
		class="{{ options.class }}">
{% endmacro %}