<footer class="footer">
    <div class="container">
        <div class="row footer__row">
            <div class="col-12 col-sm-5 col-md-3 footer__column">
                <a href="mailto: {{ options.email }}">{{ options.email }}</a>
                {% include "partial/social.twig" with {
                    class: 'footer__social',
                    list: options.socials,
                    size: 'small',
                    color: 'white'
                } %}
                <ul class="footer__phones">
                    {% for item in options.phones %}
                        <li>
                            <a href="tel: {{item.phone}}">{{item.phone}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-sm-5 col-md-3 footer__column">
                <ul class="footer__address">
                    {% for item in options.address %}
                        <li class="footer__address-item">
                            <img src="{{ item.flag }}" alt="{{ item.address|striptags }}" class="footer__address-item-flag">
                            <div class="footer__address-item-content">{{ item.address }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-sm-2 footer__column footer__column_logo">
                <a href="{{site.url}}"><img src="{{options.logo}}" alt="{{site.name}}" class="footer__logo"></a>
            </div>
        </div>
    </div>
</footer>